*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: #443c31;
    color: white;
}
h1{
    font-weight: 100;
}
.calculator{ 
    border-radius: 31px; 
    width: 300px;
    height: auto;
    display: flex;
    gap: 10px;
    padding: 47px;
    margin: 61px;
    background-color: #af7500;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    transition: 300ms;
}
.calculator:hover{
    box-shadow: 10px 10px 100px #877124;
}
.display{
    width: 100%;
    height: 20px;
    border-radius: 40px;
    padding: 15px;
    border: 0px;
}
.mainlane{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;

}
.button{
    width: 128px;
    height: 55px;
    border-radius: 183px;
    border: 0px;
}
.button:hover{
    box-shadow: 2px 4px 0px black;
}
#reset{
    border-radius: 10px;
    width: 298px;
    height: 80px;
    border: 0px;
}
#reset:hover{
    box-shadow: 2px 4px 0px black;
}